.catalog {
	background-color: var(--grey-color);
	color: var(--black-color);
}
.definition,
.quality {
	width: 80%;
}

.logo {
	padding-top: 3.125rem;
	margin-bottom: 2.25rem;
}

.definition {
	margin: 0 auto 1.25rem;

	font-size: 1.25rem;
	line-height: 1.4375rem;
}

.quality {
	margin: 0 auto 4.375rem;

	font-size: 1.125rem;
	line-height: 1.3125rem;
}

.logo,
.description {
	text-align: center;
}

.items {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 5.1875rem;
	margin-bottom: 5rem;
	padding: 0 0.9375rem;
}

@media (max-width: 1024px) {
	.items {
		padding: 0 1.875rem;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 500px) {
	.items {
		padding: 0;
		gap: 2.5rem;
	}
}

.item {
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	background-color: var(--white-color);
}

.item:first-child .image {
	margin-top: 2.5rem;
}

@media (max-width: 768px) {
	.item .image img {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.item .image {
		width: 60%;
	}
}

.firstCol,
.secondCol {
	display: flex;
	flex-direction: column;
	flex-basis: 46%;
	gap: 2.7375rem;
}


.secondCol .item:nth-child(1) .image {
	margin-top: 5.4rem;
}

.secondCol .item:nth-child(2) .image {
	margin-top: 3.2rem;
}
@media (max-width: 500px) {
	.secondCol .item:nth-child(1) .image {
		margin-top: 0;
	}

	.secondCol .item:nth-child(2) .image {
		margin-top: 1rem;
	}
}

.image {
	margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
	.image {
		margin-bottom: 0.375rem;
		margin-top: 3rem;
	}
}

.info {
	padding: 0 2rem;
}

@media (max-width: 768px) {
	.info {
		padding-left: 1.25rem;
	}
}

.title,
.count {
	text-align: left;
	font-size: 1.875rem;
	line-height: 1.375rem;
}

@media (max-width: 768px) {
	.title,
	.count {
		font-size: 1rem;
		line-height: 1.375rem;
	}
}

.title {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1.65rem;
}

@media (max-width: 768px) {
	.title {
		margin-bottom: 0.3125rem;
	}
}

.count {
	text-align: left;
	margin-bottom: 1.5625rem;
}

@media (max-width: 768px) {
	.count {
		margin-bottom: 0.4375rem;
	}
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--red-color);

	padding: 1.375rem;
	margin-bottom: 1.25rem;

	color: var(--white-color);
	font-size: 3rem;
	line-height: 1.375rem;
	font-weight: 300;

	border-radius: 20px;
}

@media (max-width: 768px) {
	.price {
		padding: 0.6875rem 0.4375rem;
		font-size: 1.525rem;
		line-height: 22px;
		margin: 0 32px 5px 0;
	}
}

@media (max-width: 500px) {
	.price {
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
}

.price span {
	display: inline-block;
	font-weight: bold;
	margin-right: 0.625rem;
}

.price img {
	margin-left: 10px;
}

@media (max-width: 768px) {
	.price img {
		margin-left: auto;
		width: 30%;
	}
}

.retail {
	text-align: left;

	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1.375rem;
	margin-bottom: 0.875rem;
}

@media (max-width: 420px) {
	.retail {
		font-size: 1.1rem;
	}
}

.sticker {
	width: 319px;
	position: absolute;
	right: 0;
	top: 0px;
}

@media (max-width: 500px) {
	.sticker {
		width: 55%;
	}
}

.big .image {
	margin-top: 5.3125rem;
	text-align: left;
	margin-bottom: 3.375rem;
}

@media (max-width: 768px) {
	.big .image {
		width: 50%;
		margin-bottom: 0;
	}
	.big .image img {
		margin-top: 0;
	}
}

.big .price {
	margin-bottom: 2.2125rem;
}

@media (max-width: 768px) {
	.big .price {
		margin-bottom: 0;
	}

	.big .price img {
		margin-left: 0;
	}
}

.big .retail {
	margin-bottom: 0;
	padding-top: 0.6875rem;
	padding-bottom: 0.75rem;
	color: var(--black-color);
	background-color: var(--white-color);
}

/* APP */

.app {
	display: flex;
	justify-content: center;
}

@media (max-width: 1024px) {
	.app {
		flex-direction: column;
		text-align: center;
	}
}

.ctaTitle {
	color: var(--dark-orange-color);
	font-family: 'Daxline Pro', sans-serif;
	font-weight: 900;
	font-size: 2.25rem;
	line-height: 3.5rem;
	margin-bottom: 1.875rem;
}

.ctaTitle span {
	display: block;
	font-size: 4.5rem;
	line-height: 4.5rem;
}

@media (max-width: 768px) {
	.ctaTitle {
		font-size: 1.5rem;
		line-height: 2.5rem;
		padding-left: 1.5625rem;
	}

	.ctaTitle span {
		font-size: 3.4375rem;
		line-height: 3.4375rem;
	}
}

.ctaImage {
	margin-top: -4.375rem;
}

@media (max-width: 768px) {
	.ctaImage img {
		width: 100%;
	}
}

.qr {
	margin-bottom: 3.5625rem;
}

@media (max-width: 768px) {
	.qr {
		display: none;
	}
}

.links {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

@media (max-width: 1024px) {
	.links {
		order: 1;
		align-items: center;
		margin-top: 0;
		margin-bottom: 1.875rem;
	}
}

.links a {
	transition: all .3s ease-in-out;
}

.links a:hover {
	opacity: 0.8;
}