.header {
	background-color: var(--orange-color);
	background-image: url('../../assets/images/header-bg.png');
	background-repeat: no-repeat;
	background-position: top 7.25rem right -1.5rem;
	background-size: 510px;
	position: relative;
}

@media (max-width: 1024px) {
	.header {
		background-size: 410px;
	}
}

@media (max-width: 768px) {
	.header {
		background-size: 280px;
		background-position: top 13.25rem right -0.5rem;
	}
}

@media (max-width: 500px) {
	.header {
		background-size: 180px;
		background-position: bottom -8rem right 50%;
	}
}

	.thomas {
		margin-right: 1.5625rem;
	}

.dixy img,
.thomas img {
	width: 100%;
}

@media (max-width: 1024px) {
	.dixy {
		margin-left: auto;
	}
}

@media (max-width: 768px) {
	.dixy {
		margin-right: 3.75rem;
	}
}

@media (max-width: 500px) {
	.dixy {
		margin-top: 12px;
	}
}

.wrap {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	align-items: center;
	padding-top: 1.25rem;
}

@media (max-width: 500px) {
	.row {
		align-items: flex-start;
	}
}

.rowHeader {
	align-items: center;
}

.signature {
	font-size: 2.7rem;
	line-height: 2.75rem;
	margin-bottom: 6.375rem;
}

@media (max-width: 1024px) {
	.signature {
		font-size: 2.1rem;
	}
}

@media (max-width: 768px) {
	.signature {
		margin-bottom: 4.375rem;
	}
}

@media (max-width: 500px) {
	.signature {
		margin-top: 1.875rem;
		text-align: center;
		font-size: 1rem;
		line-height: 1.125rem;
		margin-bottom: 3rem;
	}
}

.title {
	font-family: 'Daxline Pro', sans-serif;
	font-weight: 900;
	font-size: 4rem;
	line-height: 4rem;
}

@media (max-width: 1024px) {
	.title {
		font-size: 2.8rem;
		line-height: 3rem;
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 2.1rem;
	}
}

@media (max-width: 500px) {
	.title {
		width: 100%;
		font-size: 2.25rem;
		line-height: 100%;
	}
}

.subtitle {
	font-size: 1.25rem;
	line-height: 1.5;
	margin-left: auto;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 2.625rem;
}

@media (max-width: 500px) {
	.subtitle {
		text-align: left;
		margin-top: 1.25rem;
		margin-bottom: 14rem;
	}
}

@media (max-width: 500px) {
	.subtitle {
		margin-top: 0.75rem;
	}
}

.sale {
	position: relative;
	width: 58%;
	height: 108px;
	display: flex;
	align-items: center;

	background: var(--white-color);

	border: 1px solid var(--green-color);
	box-shadow: 0 4px 7px rgba(187, 187, 187, 0.25);
	border-radius: 20px;
	margin-bottom: 7.0375rem;
	margin-left: 3.125rem;
}

@media (max-width: 768px) {
	.sale {
		height: 100px;
	}
}

@media (max-width: 500px) {
	.sale {
		width: 85%;
		margin-bottom: 2.4375rem;
	}
}

.saleCircle {
	position: absolute;
	left: -130px;
}

.saleCircle img {
	width: 150%;
}

@media (max-width: 1024px) {
	.saleCircle img {
		width: 120%;
	}

	.saleCircle {
		left: -80px;
	}
}

@media (max-width: 768px) {
	.saleCircle img {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.saleCircle img {
		width: 60%;
	}
}

.sale p {
	font-size: 1.5rem;
	line-height: 2.3125rem;

	color: var(--dark-orange-color);
	padding-left: 14rem;
	font-weight: bold;
}

@media (max-width: 1024px) {
	.sale p {
		font-size: 1.1rem;
		padding-left: 12rem;
	}
}

@media (max-width: 768px) {
	.sale p {
		font-size: 0.9rem;
		padding-left: 9rem;
		line-height: 1.7125rem;
	}
}

@media (max-width: 500px) {
	.sale p {
		font-size: 0.875rem;
		line-height: 1.5625rem;
		padding-left: 3.5rem;
	}
}

.cards {
	display: flex;
	position: relative;
	margin-left: auto;
	right: -4rem;
	top: -2rem;
}

@media (max-width: 500px) {
	.cards {
		right: 4.6rem;
		top: 0;
	}
}

.cards img {
	position: absolute;
	top: -78px;
}

.cards img:nth-child(2) {
	top: 3px;
	right: 0;
	transform: rotate(6deg);
}

.cards img:nth-child(1) {
	top: -60px;
	right: -20px;
	transform: rotate(23deg);
	z-index: 2;
}

@media (max-width: 768px) {
	.cards img {
		width: 110px;
	}

	.cards img:nth-child(1) {
		top: -60px;
	}

	.cards img:nth-child(2) {
		top: -34px;
	}
}

@media (max-width: 500px) {
	.cards img {
		width: 66px;
	}

	.cards img:nth-child(1),
	.cards img:nth-child(2),
	.cards img:nth-child(3) {
		top: -5.5rem;
		transform: none;
	}

	.cards img:nth-child(1) {
		right: 1.6rem;
		z-index: 1;
	}
	.cards img:nth-child(2) {
		right: -1.3rem;
		z-index: 2;
		top: -5.9rem;
	}

	.cards img:nth-child(3) {
		z-index: 3;
	}
}

.equality {
	position: absolute;
	max-width: 360px;
	padding: 1.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	margin-bottom: 2.6875rem;
	background-color: var(--white-color);
	border-radius: 20px;
	border: 5px solid var(--orange-color);

	bottom: -145px;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 768px) {
	.equality {
		padding: 0.775rem;
		bottom: -125px;
	}
}

@media (max-width: 500px) {
	.equality {
		padding: 0.675rem;
		width: 220px;
		bottom: -95px;
	}
}

.equality img {
	margin-top: 0.9375rem;
}

@media (max-width: 500px) {
	.equality img {
		width: 30%;
		margin-top: 0;
		margin-bottom: 0.9375rem;
	}
}

.redBg {
	background: var(--red-color);
	border-radius: 20px;

	padding: 0.625rem 0.9375rem;

	color: #fff;
}

.one {
	position: relative;
}

.one::after {
	content: 'наклейка';
	font-size: 0.875rem;
	position: absolute;
	left: -20px;
	bottom: -10px;
}

.bullet {
	font-size: 3rem;
	font-weight: bold;

	color: var(--orange-color);
}

@media (max-width: 500px) {
	.bullet {
		font-size: 1.7rem;
	}
}
