.footer {
	text-align: center;
	padding: 2.8125rem 1rem;
	background-color: var(--light-black-color);
}

.footer p {
	width: 79%;
	margin: 0 auto;
	font-size: 1rem;
	line-height: 1.875rem;
}

.footer p:first-child {
	margin-bottom: 1.5625rem;
	font-weight: bold;
}

.footer a {
	position: relative;
}

.footer a:hover::after {
	width: 0%;
}

.footer a::after {
	content: '';
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 1px;
	bottom: -.2rem;
	left: 0;

	transition: all 0.3s ease-in-out;
}

@media (max-width: 500px) {
	.footer a::after {
		width: 100%;
	}
}