:root {
	--orange-color: #fc8810;
	--dark-orange-color: #d1720c;
	--white-color: #fff;
	--green-color: #8bd40a;
	--dark-color: #41553a;
	--black-color: #000;
	--light-black-color: #1e1e1e;
	--red-color: #e40a19;

	--grey-color: #edf5fc;
	--dark-orange-color: #e97a05;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

@font-face {
	font-family: 'Daxline Pro';
	src: url('./assets/fonts/DaxlinePro-Black.woff') format('woff'),
		url('./assets/fonts/DaxlinePro-Black.woff2') format('woff2'),
		url('./assets/fonts/DaxlinePro-Black.ttf') format('truetype'),
		url('./assets/fonts/DaxlinePro-Black.eot') format('opentype');
	font-weight: 900;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	color: var(--white-color);
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 0.9375rem;
}

p {
	margin: 0;
}
