.rules {
  margin-top: 2.5rem;
  color: var(--black-color);
}


.rule:nth-child(5) {
  grid-column: 1 / 3;
} 

@media (max-width: 500px) {
  .rule:not(:first-child) {
    margin-top: 4.375rem;
  }
}

.title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.375rem;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 3.75rem;
}

@media (max-width: 500px) {
  .title {
    margin-top: 3.3rem;
  }
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-gap: 3.75rem;
}

@media (max-width: 768px) {
  .wrap {
    display: block;
  }
}

.rule {
  display: flex;
  gap: 1.5625rem;
  align-items: center;
}

@media (max-width: 768px) {
  .rule {
    flex-direction: column;
    text-align: center;
  }
}

.description {
  max-width: 334px;
  font-size: 1rem;
  line-height: 1.875rem;
}

.equality {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.425rem;
  margin-bottom: 4.375rem;
}

@media (max-width: 768px) {
  .equality {
    margin-bottom: 1.875rem;
  }
}

.equality img {
  margin-top: 0.9375rem;
}

.bullet {
  font-size: 3rem;
  font-weight: bold;

  color: var(--orange-color);
}

.redBg {
  background: var(--red-color);
  border-radius: 20px;

  padding: 0.625rem 0.9375rem;

  color: #fff;
}

.one {
  position: relative;
}

.one::after {
  content: 'наклейка';
  font-size: 0.875rem;
  position: absolute;
  left: -20px;
  bottom: -10px;
}

.buttonBlock {
  margin-top: 4.6875rem;
  margin-bottom: 3.4375rem;
  text-align: center;
}

.buttonBlock button {
  border: 0;
  cursor: pointer;

  padding: 20px 45px;
  background-color: var(--orange-color);
  border-radius: 16px;

  color: var(--white-color);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
}

.buttonBlock button:hover {
  background-color: var(--dark-orange-color);
}

.thomasGrey {
  vertical-align: middle;
}
