
.tooltip{
    border-bottom: 1px dashed gray;
    position: relative;
    cursor: pointer;
  }
  .tooltip:hover .tooltip-content{
    display: block;
   
  }
  .tooltip-content{
    position: absolute;
    display: none;
    max-width: 300px;
    background: #fff;
    right: 0;
    top: -140px;
    color: black;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #808080a3;
    width: 220px;
    line-height: 1.8;
  }
  .Header_sale__3UZuy{
      width: 60%;
      padding-right: 3rem;
  }
  .Header_cards__1wHOb{
    right: -7rem;
  }